
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;

}

.content-wrapper {
  height: 100vh;
  width: 50%;
  background: linear-gradient(rgb(17, 17, 17),rgb(60, 36, 126), rgb(61, 61, 61)) ;
  padding: 5%;
  color: #ffffff;
}

h1 {
  font-size: 70px;
  line-height: 1.1;
  margin-bottom: 30px;
  font-family: 'Chivo Mono', monospace;

  
}
 
h2 {
  font-family: 'Chivo Mono', monospace;
  margin-bottom: 150px;
  font-weight: 200;
}
.date {
  font-family: 'Chivo Mono', monospace;
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 20px;
}
.place {
  font-family: 'Chivo Mono', monospace;
  margin-bottom: 10px;
  font-size: 20px;
}

figure {
  display: flex;
  width: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.button {
  margin-top: 20px;
}

.button a {
  font-family: 'Chivo Mono', monospace;
  display: inline-block;
  padding: 10px 50px;
  background: linear-gradient(rgb(56, 49, 49), rgb(173, 49, 49));
  border-radius: 10px;
  text-decoration: none;
  color: rgb(249, 237, 237);
  font-size: 15px;
  line-height: 1.4;
  font-weight: 400;
  transition: all 0.5s ease;
}

.button a:hover {
  background: black;
  color: rgb(244, 242, 239);
}


@media screen and (max-width: 1024px) {
  .container{
    width: 100%;
  }
  .button a {
    font-size: 16px;
  }
  .content-wrapper h1 {
    font-size: 50px;
  }
  .content-wrapper h2 {
    font-size: 20px;
    margin-bottom: 200x;
  }
  .date {
    font-size: 20px;
  }
  .place {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .content-wrapper {
    padding-bottom: 50px;
  }
  .content-wrapper h2{
    margin-bottom: 180px;
  }
  .content-wrapper h1 {
    font-size: 40px;   
}
}


@media screen and (max-width: 420px) {
  .button a {
    text-align: center;
  }
  .content-wrapper h1{
    font-size: 40px;
  }
  .content-wrapper h2{
    font-size: 15px;
  }
  .container{
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .content-wrapper{
    width: 100%;
    padding: 10px;
  }
  .button a{
    font-size: 15px;
    padding: 5px;
  }
   figure{
    display: flex;
    width: 100%;
  }
}